{% block content %}
<h>Portfolio</h>


    <div><p> Current Balance : {{balance}} </p></div>

    {% for transaction in completed %}
    <div><p> Ticker : {{transaction[0]}} </p></div>
    <div><p> Quantity : {{transaction[1]}} </p></div>
    {% endfor %}


    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.ticker.label }}
            {{ form.ticker(size=8) }}
        <p>
        <p>
            {{ form.quantity.label }}
            {{ form.quantity(size=8) }}
        <p>
        <p>
            {{ form.submit() }}
        </p>
   </form>
{% endblock %}
