<!-- templates/portfolio.html -->

{% extends "base.html" %}

{% block content %}


    <div><p> Cash Balance : {{balance}} </p></div>
    <div><p> Portfolio Value : {{value}} </p></div>

    {% for member in annotated %}
    <div><p> Ticker : {{member[0]}} </p></div>
    <div><p> Quantity : {{member[1]}} </p></div>
    <div><p> Value : {{member[2]}} </p></div>
    <div><p> Direction : {{member[3]}} </p></div>
    {% endfor %}


    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.ticker.label }}
            {{ form.ticker(size=8) }}
        <p>
        <p>
            {{ form.quantity.label }}
            {{ form.quantity(size=8) }}
        <p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}
