<!-- templates/portfolio.html -->

{% extends "base.html" %}

{% block content %}


<div class="column is-4 is-offset-4">
    <h3 class="title">Portfolio</h3>

    <div class="box">
        <div class="columns">
            <div class="column"> Cash Balance : ${{balance}} </div>
            <div class="column"> Stock Value : ${{value}} </div>
        </div>
    </div>

    {% if annotated %}
        <div class="box">
            {% for member in annotated %}
                {% if member[3] == 'Red' %}
                    <div class="columns has-text-danger">
                        <div class="column">
                            {{member[0]}} - {{member[1]}} Shares
                        </div>
                        <div class="column">
                            ${{member[2]}}
                        </div>
                    </div>
                {% endif %}
                {% if member[3] == 'Green' %}
                    <div class="columns has-text-success">
                        <div class="column">
                            {{member[0]}} - {{member[1]}} Shares
                        </div>
                        <div class="column">
                            ${{member[2]}}
                        </div>
                    </div>
                {% endif %}
                {% if member[3] == 'Gray' %}
                    <div class="columns has-text-grey">
                        <div class="column">
                            {{member[0]}} - {{member[1]}} Shares
                        </div>
                        <div class="column">
                            ${{member[2]}}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="box">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="field">
                <div class="control has-text-centered">
                    {{ form.ticker(size=24) }}
                </div>
            </div>
            <div class="field">
                <div class="control has-text-centered">
                    {{ form.quantity(size=24) }}
                </div>
            </div>
            <div class="field">
                <div class="control has-text-centered">
                    {{ form.buy() }}
                </div>
            </div>
            <div class="field">
                <div class="control has-text-centered">
                    {{ form.sell() }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
